# Cloudinary Credentials (Optional for maintenance scripts)
CLOUDINARY_CLOUD_NAME_FREE=your_free_cloud_name
CLOUDINARY_API_KEY_FREE=your_free_api_key
CLOUDINARY_API_SECRET_FREE=your_free_api_secret

CLOUDINARY_CLOUD_NAME_PREMIUM=your_premium_cloud_name
CLOUDINARY_API_KEY_PREMIUM=your_premium_api_key
CLOUDINARY_API_SECRET_PREMIUM=your_premium_api_secret
